# Virtual environment
.venv/

# Environment variables / secrets
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# IDE
.idea/
.vscode/

# Allure
allure-results/
allure-report/

# Logs
*.log

# Coverage
.coverage
htmlcov/
.pytest_cache/

# OS files
.DS_Store
Thumbs.db

# Visual Studio
.vs/

# Test results
TestResults/